*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: "Museo Sans", sans-serif;
font-size: 1rem;
line-height: 1.5;
color: #373a3c;
}
.contenitore-global-pagina{
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
  }

header{
display: flex;
margin-right: -15px;
margin-left: -15px;
padding: 20px 6%;
background-color: #0d325a;
  }
.sezione-immagine{
  padding: 0 15px;
}
.sezione-wrapper-testo{
  padding: 0 15px;
  left: 41.666667%;
}
.wrapper-testo{
  margin-top: 5px;
  padding: .5rem 5px;
  line-height: 24px;
  position: relative;
  border-radius: .25rem;
}
ul.nav-wrapper-testo{
  padding-left: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  float: left;
  }

.lista-item-wrapper{
  margin-right: 12px;
  padding-top: .425rem;
  padding-bottom: .425rem;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  list-style: none;
  line-height: 1.5;
  display: inline-block;
}
.sezione-wrapper-bottoni{
  margin-top: 20px;
  margin-right: 9px;
  margin-left: 25px;
  padding: 0 15px;
  opacity: 1;
  font-weight: 700;
  font-size: 11px;
  background-color: transparent;
  left: 41.666667%;
  float: right;
  text-decoration: none;
}
.becomea{
  color: rgba(255,255,255,.5);
  margin-right: 9px;
}
.login{
  margin-right: 9px;
  margin-left: 20px;
  border-color: #4e8cb6;
  border-width: 1px;
  padding: 8px 25px;
  opacity: .9;
  font-size: 11px;
  border-radius: 5px;
  font-weight: 700;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
}
.createyourplan{
  margin-left: 9px;
  background-color: #7fb802;
  color: white;
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 10px;
  text-decoration: none;
  }

.box-home-header{
  margin: 0 -15px;
  background-color: #0d325a;
  height: 420px;
  padding-top: 20px;
  font-weight: 500;
  background-image:url("/Users/swichy/Desktop/Corso Boolean/html-css-fluentify/img/vecchi.JPG");
}

.testo-bottone{
  margin: 90px 0 120px 100px;
  font-family: "Museo Sans", sans-serif;
  margin-top: 0;
  color: #fff;
  font-size: 45px;
  font-weight:500;
  line-height: 55px;
  padding-right: 50px;
  max-width: 50%;
}
.createyourplan{
  font-size: 12px;
  font-weight: 700;
  height: 44px;
  border-radius: 5px;
  padding: 8px 10px;
  min-width: 182px;
  padding-top: 13px;
  letter-spacing: .0182em;
}

.testo-sotto-header{
  padding-right: 15px;
  padding-left: 15px;
}
.testo{
  margin-top: 8px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: .5rem;
  font-family: inherit;
  text-align: center;
  line-height: 1.1;
  color: inherit;
  background-color: #f9f9f9;
}
p.testo{
  font-size: 18px;
  font-weight: 300;
  color: #999;
  margin-top: 0;
  text-align: center;
  line-height: 1.5;
}

.immagine{
  padding: 20px 60px;
  margin-right: -15px;
margin-left: -15px;
  max-width: 25%;
  display:inline-block;
  margin-top: 0;
margin-bottom: 1rem;
}

h6{
  font-size: 23px;
  min-height: 50px;
  color: #7fb802;
  text-align: center;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}

hr{
opacity: .3;
width: 32px;
border-top: 2px solid;
margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
}
.box-testo-h6{
  max-width: 30%;
}

.box-testo{
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
  padding: 0 30px;
  text-align: center;
  margin-top: 0;
margin-bottom: 1rem;
max-width: 30%;
}

.box-imgmontagna-testo{

}
.immagine-montagna{

}
.sezione-testo-montagna{

}
.scegli-il-piano{

}
.testo-scegli-piano{

}
.testo-bottone{

}
.seleziona-piano{

}
.get-started-plan{

}
.box-testo-mac-iphone{

}
.testo-mac-iphone{

}
.box-img-mac-iphone{

}
.box-handshake{

}
.testo-handshake{

}
.box-verde-link{

}
.box-verde-testo-lato{

}
.box-img-device-testo{

}
.img-device-testo{

}
.sezione-device-testo{

}
.box-company{

}
.testo-box-company{

}
.box-bianco-create-plan{

}
li.img-studente-testo1{

}
li.img-professional-testo{

}
li.img-company-testo{

}
.box-faq{

}
.testo-box-faq{

}
footer{

}
.box-testo-footer{

}
.testo-footer-sx{

}
.testo-footer-dx{

}
