*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore-global-pagina{
  }

header{
  }
.sezione-immagine{

}
.sezione-wrapper-testo{

}
.sezione-wrapper-bottoni{

}
.box-home-header{

}
#testo-bottone{

}
.testo-sotto-header{

}
.testo{

}
.immagini-grandi-testo{

}
.immagine1{

}
.immagine2{

}
.immagine3{

}
.box-testo-immagine1{

}
.box-testo-immagine2{

}
.box-testo-immagine3{

}
.box-imgmontagna-testo{

}
.immagine-montagna{

}
.sezione-testo-montagna{

}
.scegli-il-piano{

}
.testo-scegli-piano{

}
.testo-bottone{

}
.seleziona-piano{

}
.get-started-plan{

}
.box-testo-mac-iphone{

}
.testo-mac-iphone{

}
.box-img-mac-iphone{

}
.box-handshake{

}
.testo-handshake{

}
.box-verde-link{

}
.box-verde-testo-lato{

}
.box-img-device-testo{

}
.img-device-testo{

}
.sezione-device-testo{

}
.box-company{

}
.testo-box-company{

}
.box-bianco-create-plan{

}
li.img-studente-testo1{

}
li.img-professional-testo{

}
li.img-company-testo{

}
.box-faq{

}
.testo-box-faq{

}
footer{

}
.box-testo-footer{

}
.testo-footer-sx{

}
.testo-footer-dx{
  
}
